body {
    font-family: Arial;
    background: linear-gradient(135deg,#0f0f0f,#1c1c1c);
    color: #fff;
    text-align: center;
}
.login-container, .container {
    background: #111;
    width: 450px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 12px;
    border: 2px solid #ff004f;
}
input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 40px;
    border: none;
}
button {
    padding: 12px 20px;
    background: #ff004f;
    color: #fff;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}
.message { color:#ff3366; font-weight:bold; margin-top:10px; }